:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Instead of instant scrolling, we can choose smooth when going to sections */
  scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        sans-serif;
    background: linear-gradient(#fdf7f2, #ffe9dd);
    color: #222;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

#root {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 2rem;
  padding: 1em;
  margin: 0 auto;
  min-width: 320px;
  max-width: 1028px;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
}

footer {
  display: flex;
  justify-content: center;
  background-color: #1a1a1a;
  gap: 2em;
  padding: 1em;
}

main {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

/* This is just some wrapper style to make assignment examples stand out from eachother */
.assignment-section {
  transition: box-shadow 200ms;
  border: 1px solid transparent;
  padding: 0.5rem;
  border-radius: 4px;
}
.assignment-section:hover {
  border-color: #ffffff10;
  box-shadow: 0px 20px 207px 10px #ffffff10;
}

/* Some hover states for our example todo list assignment */
.todo-list {
  display: "flex";
  flex-flow: "column nowrap";
  gap: "0.2rem";
}

.todo-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  border: 1px solid white;
  padding: 0 6px;
}

.todo-actions {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 0.2rem;
  opacity: 0;
  transition: opacity 250ms;
}

.todo-item:hover .todo-actions {
  opacity: 1;
}
